{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block content %}


<div id="post">
    <h2>{{ post.title }}</h2>
    <div>{{ post.text|safe }}</div>
</div>

<div id="post-footer">
    <ul class="nav navbar-nav post-bar">
        <li><a class="user-name" href="{{ url_for('users.profile', user_id=post.author_id) }}">@{{ post.author.name }}</a></li>
        <li>
            <div class="navbar-form">
                {% if post.author_id|string == current_user.get_id() %}
                    <a class="btn btn-default" href="{{ url_for('my.post', post_id=post.id) }}">Редактировать</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>

<div id="comments">
    <ul class="list-group">
        {% for comment in post.comments %}
        <li class="list-group-item comment-block comment-level-{{ comment.level }}">
            <div class="comment-header">
                <img src="" width="24" height="24"/>
                <a class="user-name" href="{{ url_for('users.profile', user_id=post.author_id) }}">{{ comment.author.name }}</a>
                <span class="datetime">{{ comment.created|longdatetime }}</span>
            </div>
            <div class="comment-body">
                {{ comment.text }}
            </div>
            <div class="reply">
                <a href="#" class="reply-link reply-link-comments" data-id="{{ comment.id }}">ответить</a>
            </div>
        </li>
        {% endfor %}
    </ul>

    <a href="#" class="reply-link reply-link-bottom">Написать комментарий</a>
    <div id="write-comment">
        <form method="post" action="{{ url_for('home.comment', post_id=post.id) }}">
            <input type="hidden" name="replyto" id="replyto"/>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="text" id="text"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Отправить</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block tail %}
<script type="text/javascript">
$(function() {
    $(".reply-link").click(function(e) {
        e.preventDefault();
        $this = $(this);
        $("#write-comment").insertAfter($this);
        $("#replyto").val($this.data("id"));
    })
});
</script>
{% endblock %}