{% extends 'base.html' %}
{% from '/macros.html' import render_pagination %}

{% block head %}
<style type="text/css">
.post-status {
    color: wheat;
    font-size: smaller;
}

.post-date {
    color: gray;
}
</style>
{% endblock %}

{% block content %}

<div class="container">
{% if posts.total %}
    {% for post in posts.items %}
        <h3>
            <a href="{{ url_for('home.post', post_id=post.id) }}">{{ post.title }}</a>
            <span class="post-status">{{ post.status_label }}</span>
        </h3>
        <div class="post-date">
            {{ post.created|datetime }}
        </div>
        <p>{{ post.html|safe }}</p>
    {% endfor %}
{% else %}
    Тут пока ничего нет
{% endif %}
</div>

{{ render_pagination(posts, '.posts') }}

{% endblock %}