{% extends 'base.html' %}
{% from '/macros.html' import render_pagination %}

{% block head %}
<style type="text/css">
.post-status {
    color: wheat;
    font-size: smaller;
}

.post-date {
    color: gray;
}
</style>
{% endblock %}

{% block content %}

{% for post in posts.items %}
<div class="container">
    <h3>
        <a href="{{ url_for('home.post', post_id=post.id) }}">{{ post.title }}</a>
        <span class="post-status">{{ post.status_label }}</span>
    </h3>
    <div class="post-date">
        {{ post.created|datetime }}
    </div>
    <p>{{ post.html|safe }}</p>
</div>
{% endfor %}

{{ render_pagination(posts, '.posts') }}

{% endblock %}